.button,
.link {
  display: inline-block;
  width: auto;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  text-align: center;
  cursor: pointer;
  max-height: 70px;
  box-sizing: border-box;
}

.button {
  background-color: #0072db;
  color: #ffffff;
}

.link {
  line-height: 1;
  color: #3c3f41;
  text-decoration: none;
  border: 2px solid #dddddd;
  background-color: transparent;
}