.button {
  display: inline-block;
  width: auto;
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  background-color: #0072db;
  color: #dddddd;
  font-weight: 500;
  font-size: 16px;

  text-align: center;
  cursor: pointer;
  max-height: 70px;
}